# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# SSH Keys
*.pem
*.key

# Ansible
.ansible/
*.retry

# Python
__pycache__/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints/
00-memo.ipynb

# Logs
*.log
